{% extends 'wafer/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{% trans title %}</h1>
<noscript>
    <div class="alert alert-danger" role="alert">
        {% trans "Please enable JavaScript to use this form." %}
    </div>
</noscript>
{% if is_login_required %}
    {% if not user.is_authenticated %}
    <div class="alert alert-danger" role="alert">
        <a href="{% url 'auth_login' %}">{% trans "Please log in to send email with this form." %}</a>
    </div>
    {% endif %}
{% endif %}
{% if form_disabled_reason %}
<div class="alert alert-danger" role="alert">
    <b>{{form_disabled_reason}}</b>
</div>
{% endif %}
<form id="email_form">
    <input type="hidden" name="username" value="{{ user.get_username | safe}}">
    <input type="hidden" name="full_name" value="{{ user.get_full_name | safe}}">
    {% for form in forms %}
    <fieldset>
    <legend>{{ form.form_title.label }}</legend>
    {{ form | crispy }}
  
    </fieldset>
    {% endfor %}
    <input type="submit" value="Prepare Email" class="btn btn-primary">
</form>
<script>
    let form_meta = [
        {% for form in forms %}
        {
            "section_title": "{{ form.form_title.label }}",
            "fields": [
                {% for field in form %}
                {"label": "{{ field.label }}", "name": "{{ field.name }}"},
                {% endfor %}
            ]
        },
        {% endfor %}
    ];
    function prepare_email() {
        const formdata = new FormData(document.getElementById("email_form"));
        let email_body = "";
        for(const section of form_meta) {
            email_body +=  `\n## ${section.section_title}\n`;
            for(const field of section.fields) {
                email_body += `* ${field.label}: ${formdata.getAll(field.name).join(", ")}\n`;
            }
        }
        return email_body;
    }
    document.addEventListener("DOMContentLoaded", function () {
        const formElement = document.getElementById("email_form");
        formElement.addEventListener('submit', function (event) {
            event.preventDefault();
            {% if (is_login_required) and (not user.is_authenticated) %}
            alert('{% trans "Please log in to send email with this form." %}');
            return;
            {% elif %}
            alert('{{form_disabled_reason}}');
            return;
            {% else %}
            const email_title = {{ email_title_js_template | safe}}
            const email_body = `{{email_body_prefix | safe}}\n${prepare_email()}`;
            const mailto = (
              "mailto:" + encodeURIComponent("{{email_recipient | safe}}")
              + "?subject=" + encodeURIComponent(email_title)
              + "&body=" + encodeURIComponent(email_body)
            );
            alert(`{{alert_text | safe}}`);
            window.open(mailto);
            {% endif %}
            
        });
    });
    
</script>
{% endblock %}
