{% load static %}
{% with user.attendee.country as country %}
<div class="container">
  <div class="top">
    <img width="70%" src="{% static 'img/badge-top-logo.svg' %}" alt="DebConf24 logo" />
  </div>
  <div class="name"
    {% if country == 'CN' %}
      lang="zh-cn"
    {% elif country == 'JP' %}
      lang="ja"
    {% elif country == 'KR' or country == 'KP' %}
      lang="ko"
    {% else %}
      lang="zh-tw"
    {% endif %}>
    <div class="name-content">
      <div class="name-line1">{{ user.get_full_name }}</div>
      <div class="name-line2">{{ user.attendee.nametag_2 }}</div>
      <div class="name-line3">{{ user.attendee.nametag_3 }}</div>
      <div>
	<img width="70%" src="{% static 'img/badge-background-logo.svg' %}" alt="DebConf24 logo background">
      </div>
    </div>
  </div>
  <div class="badge-name-bottom">
    <div class="tags">
      <div><hr width="100%" style="border-top: 2pt solid black;"/></div>
      {% for fpr in user.attendee.pgp_fingerprints.splitlines %}
        <div class="tag tag-pgp">
          <i class="fas fa-key">    </i>
          <span class="pgp-fpr">{{ fpr }}</span>
          <div class="pgp-id"># {{ user.attendee.keysigning_id }}</div>
        </div>
      {% endfor %}
      <div><hr width="100%" style="border-top: 2pt solid black;"/></div>
      {% if user.attendee.languages %}
        <div class="tag">
          <i class="fas fa-comments"></i> {{ user.attendee.languages }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endwith %}
